:root {
    --confetti-color: blue;
}

.analyse-note-btn {
    position: relative;
    width: fit-content;
    /* Other styles */
    z-index: 2;
}

.confetti-piece {
    position: absolute;
    will-change: transform, opacity; /* Optimize for animations */
    z-index: -1;
}

/* Square */
.square {
    width: 10px;
    height: 10px;
    background-color: var(--confetti-color);
}

/* Circle */
.circle {
    width: 10px;
    height: 10px;
    background-color: var(--confetti-color);
    border-radius: 50%;
}

/* Star */
.star {
    position: absolute;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: var(--confetti-color);
    width: 10px; /* Match the size of your other shapes */
    height: 10px;
    transform: translate(-50%, -50%);
}

/* Spark */
.spark {
    width: 2px;
    height: 10px;
    background-color: var(--confetti-color);
    transform: skewX(-15deg);
}
