:root {
    --confetti-color: blue;
}

.analyse-note-btn {
    position: relative;
    width: fit-content;
    /* Other styles */
    z-index: 2;
}

.confetti-piece {
    position: absolute;
    will-change: transform, opacity; /* Optimize for animations */
    z-index: -1;
}

/* Square */
.square {
    width: 10px;
    height: 10px;
    background-color: var(--confetti-color);
}

/* Circle */
.circle {
    width: 10px;
    height: 10px;
    background-color: var(--confetti-color);
    border-radius: 50%;
}

/* Star */
.star {
    position: absolute;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: var(--confetti-color);
    width: 10px; /* Match the size of your other shapes */
    height: 10px;
    transform: translate(-50%, -50%);
}

/* Spark */
.spark {
    width: 50px;
    height: 50px;
    background-color: var(--confetti-color);
    clip-path: polygon(50% 0%, 61% 35%, 100% 50%, 61% 65%, 50% 100%, 39% 65%, 0% 50%, 39% 35%);
}

/* Heart */
.heart {
    width: 10px;
    height: 10px;
    position: absolute;
}
.heart:before,
.heart:after {
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 18px;
    background: var(--confetti-color);
    border-radius: 12px 12px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    position: absolute;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

/* Diamond */
.diamond {
    width: 10px;
    height: 10px;
    background-color: var(--confetti-color);
    transform: rotate(45deg);
    margin-top: 80px;
}
