/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
    /*===== Colours =====*/
    /*Purple 260 - Green 120 - Red 355 - Blue 224 - Pink 340*/
    /* Hue colour mode */
    --hue-color: 27;
    --first-color: hsl(var(--hue-color), 100%, 60%);
    --second-color: hsl(var(--hue-color), 50%, 20%);
    /*===== Fuente y tipografia =====*/
    --body-font: "League Spartan", sans-serif;
    --big-font-size: 3rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margins =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;
}

/*===== BASE STYLES =====*/
html, body {
    height: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #f7f7f7;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/*===== LAYOUT =====*/
.l-header,
.footer {
    width: 100%;
    text-align: center;
}

/*===== HEADER =====*/
.l-header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 0;
}

/*===== NAV =====*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--mb-2);
    width: 100%;
}
.nav__logo {
    font-size: var(--big-font-size);
    color: rgb(0, 0, 0);
    margin-left: var(--mb-4);
}
.nav__logo img{
    font-size: var(--big-font-size);
    color: rgb(0, 0, 0);
    margin-left: var(--mb-4);
    width: 100px;
    margin: var(--mb-2);
}
.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.nav__list {
    display: flex;
    gap: var(--mb-2);
}

button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi);
    font-size: var(--h2-font-size);
    border-radius: 25rem;
    transition: 0.3s;
    border:rgb(0, 0, 0);
    border-style: solid;
    border-width: 0.1rem;
}
button:hover {
    background-color: var(--second-color);
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}
.doctor-btn {
    display: flex;
    gap: var(--mb-2);
    position: relative;
    bottom: 0;
    margin-top: -15px;
}
.patient-btn {
    position: relative;
    bottom: 0;
}

/*===== HOME =====*/
/* Profile image styling */
.profile-picture {
    border-radius: 50%;
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    cursor: pointer;
}

/* Profile card styling (initially hidden) */
.profile-card {
    display: none;
    position: absolute;
    top: 60px; /* Adjust to position the card below the image */
    right: 20px; /* Adjust to position the card next to the image */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    top: 100px;
}
@keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: black; }
}
@keyframes blink {
    50% { opacity: 0; }
}

/*===== MAIN CONTENT =====*/
.l-main {
    padding: var(--mb-4);
    height: 100%;
    margin-bottom: 10%;
    min-height: calc(100% - var(--header-height) - var(--footer-height));
}
.hidden {
    display: none;
}
.doctor-content {
gap: 1rem;
}
.patient-link {
    background: var(--first-color);
    width: auto;
    height: auto;
    padding: 0.5rem;
    display: block;
    color: white;
    font-size: var(--h2-font-size);
    border-radius: 0.5rem;
}
.doctor-note,
.patient-note {
    padding: var(--mb-2);
    border-radius: 1rem;
    background-color: rgba(255, 166, 0, 0.12); /* Transparent orange */
    position: relative;
    flex-grow: 1; /* Grow to fill the space */
    border: 0.1rem solid rgba(0, 0, 0); /* Transparent border */
    min-height: 35vh; /* Half view height */
}
.patient-note {
    max-width: fit-content;
    min-width: fit-content;
}

.doctor-note {
    background-color: rgba(0, 123, 255, 0.12); /* Transparent blue */
}
#doctor-note-form {
    margin-top: -35px;
}
#doctor-note-input {
    height: 90%;
}
#patients-links-container {
    display: grid;
    gap: 12px;
}
.doctor-note-label {
    position: relative;
    top: -17px;
    left: -17px;
    padding: 0.5rem;
    background-color: rgba(0, 123, 255, 0.3);
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 1rem;
    max-width: fit-content;
}
.patient-note-label {
    position: absolute;
    margin-top: -17px;
    margin-left: -17px;
    padding: 0.5rem;
    background-color: rgba(255, 165, 0, 0.3);
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 1rem;
}
.notes-dates,
.notes-content {
    margin-right: var(--mb-2); /* Adds a gap to the right */
    height: 75vh; /* Full view height */
    overflow-y: auto; /* Enables vertical scrolling */
}
.note-input {
    border: 0.1rem solid rgba(0, 0, 0); /* Transparent border */
    height: auto;
    width: 59vw;
    margin: var(--mb-2) .1rem; /* Adds a gap between the notes */
    padding: var(--mb-2);
    font-size: var(--h2-font-size);
}
.notes-dates {
    width: 30%;
    float: left;
    margin-bottom: var(--mb-4);
    padding: var(--mb-2);
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    border-radius: 1rem;
    border: 0.1rem solid rgba(0, 0, 0); /* Transparent border */
}
.notes-content {
    width: 67%;
    float: right;
    overflow: visible;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.notes-content textarea {
    width: 100%; /* Full width of the container */
    height: auto; /* Adjust height automatically */
    min-height: 80%;
}
.notes-content form {
    display: flex;
    flex-direction: column;
    height: 90%;
}
.note-summary {
    display: inline-block;
    background-color: var(--first-color);
    color: white;
    padding: 0.5rem 1rem;
    font-weight: var(--font-semi);
    font-size: var(--body-font);
    border-radius: 0.5rem;
    transition: 0.3s;
    border:rgb(0, 0, 0);
    border-style: solid;
    border-width: 0.1rem;
    margin: 0.3rem 0;
    max-width: 20rem;
}
.note-summary:hover {
    background-color: var(--second-color);
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}
#notes-links-container {
    margin-top: 1rem;
    height: 85%;
}

/* ===== FOOTER =====*/
.footer {
    width: 100%;
    background-color: var(--second-color);
    padding: var(--mb-2) 0;
    text-align: center;
    color: white;
}
.footer__title {
    font-size: var(--h2-font-size);
}
.footer__social {
    margin: var(--mb-2) 0;
}
.footer__icon {
    font-size: 1.5rem;
    color: white;
    margin: 0 var(--mb-2);
}
.footer__copy {
    font-size: var(--smaller-font-size);
}

/*===== RESPONSIVE NAV BUTTON =====*/
.nav__toggle {
    display: none; /* Hide by default */
}
/*===== MEDIA QUERIES=====*/
@media screen and (max-width: 1130px) {
    .notes-content {
        width: 64%
    }
    .patient-note  {
        min-width: 62%;
    }
    #notes-links-container {
        height: 80%;
    }
}
@media screen and (max-width: 768px) {
    .nav__toggle {
        display: block; /* Show only on small screens */
        position: absolute;
        right: var(--mb-2);
        top: 50%;
        transform: translateY(-650%);
        font-size: 2rem;
        color: var(--second-color);
    }
    .nav__menu {
        position: absolute;
        top: var(--header-height);
        right: 0;
        width: 60%;
        background-color: var(--first-color);
        padding: var(--mb-2) 0;
        flex-direction: column;
        align-items: center;
        display: none; /* Hide by default, shown by JS */
    }
    .nav__list {
        flex-direction: column;
    }
    .button {
        width: auto; /* Adjust button width on small screens */
    }
    .notes-dates {
        max-height: fit-content;
    }
    .notes-dates,
    .notes-content {
        width: 100%;
        float: none;
        margin-right: 0; /* Removes the gap for smaller screens */
    }
    .notes-content {
        display: grid;
    }
    .notes-content textarea{
        min-height: 70%;
    }
    .doctor-note,
    .patient-note {
        padding: var(--mb-2);
        border-radius: 1rem;
        background-color: rgba(255, 166, 0, 0.12); /* Transparent orange */
        position: relative;
        flex-grow: 1; /* Grow to fill the space */
        border: 0.1rem solid rgba(0, 0, 0); /* Transparent border */
        min-height: 50vh; /* Half view height */
        margin-bottom: var(--mb-2); /* Adds a gap between the notes */
        max-width: 100%;
    }
    .doctor-note {
        background-color: rgba(0, 123, 255, 0.12); /* Transparent blue */
    }
    .doctor-note textarea{
        flex-grow: 1;
        width: auto;
    }
    .footer {
        position: relative;
        top: 1300px;
    }
    .note-summary {
        max-width: none;
        width: 100%;
    }
}
