<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Shared styles and scripts -->
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Oncare: side-effects tracking for cancer patients</title>
            <!-- favicon image -->
            <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/logo/Oncare-logo_favicon.ico') }}" alt="oncare favicon">        
            <!-- custom css file link -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/doctor.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">

            <!-- =====BOX ICONS===== -->
            <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        </head>
    </head>

    <body>
        <div class="background-shapes">
            <div class="frosted-glass">
                <img src="{{ url_for('static', filename='assets/images/shape3.png') }}" class="shape top-right">
                <img src="{{ url_for('static', filename='assets/images/shape4.png') }}" class="shape bottom-left">
                <img src="{{ url_for('static', filename='assets/images/shape.png') }}" class="shape center-1">
                <img src="{{ url_for('static', filename='assets/images/shape2.png') }}" class="shape center-2"> 
            </div>
        </div>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="/" class="nav__logo">Chemo-Tracker</a>
                </div>
                <div>
                    <a href="/" class="nav__logo"><img src="{{ url_for('static', filename='assets/images/logo/Oncare-logo_transparent.png') }}" alt="Oncare logo"></a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <a href="/"><button class="button" id="btn-login">Logout</button></a>
                        <button class="button" id="btn-tracker">Patient</button>
                        <button class="button" id="btn-meds">Clinic</button>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== PATIENT CONTENT =====-->
            <div id="doctor-content">
                
                <!--===== NOTES DATES =====-->
                <div class="notes-dates">
                    <div class="patient-note-label">Patient's List</div><br>
                    <!-- Name filter form -->
                    <!-- Container for note links -->
                    <div id="patients-links-container"></div>
                </div>
                <!--===== NOTES UI =====-->
                <div class="notes-content">
                    <div class="patient-note">
                        <div class="patient-note-label">Patient's Logs</div>
                        <form id="patient-note-form">
                            <!-- Patient's input fields -->
                            <div id="notes-links-container"></div>
                            <div class="patient-btn">
                                <button class="close-btn">X</button>
                            </div>
                        </form>
                    </div>
                    <div class="patient-note">
                        <div class="patient-note-label">Patient's Logs</div>
                        <form id="patient-note-form">
                            <!-- Patient's input fields -->
                            <textarea class="note-input" name="patient-note-input" disabled="true"></textarea>
                            <div class="doctor-btn">
                                <button class="back-btn">back</button>
                                <button class="close-btn">X</button>
                            </div>
                        </form>
                    </div>
                    <div class="doctor-note">
                        <div class="doctor-note-label">Your Note</div>
                        <form id="doctor-note-form">
                            <!-- Doctor's input fields -->
                            <textarea class="note-input" name="doctor-note-input"></textarea>
                            <div class="doctor-btn">
                                <button class="update-note-btn" type="submit">Update</button>
                                <button class="close-btn">X</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Oncare</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-github' ></i></a>
            </div>
            <p class="footer__copy">&#169; Copyright 2024</p>
        </footer>

        <!--===== AUTH0 CDN =====-->
        <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
        <!--===== AUTH JS =====-->

        <!--===== SCROLL REVEAL =====-->

        <!--===== MAIN JS =====-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notes-doctor.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notes-update.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notes-delete.js') }}"></script>
    </body>
</html>