<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chemo Tracker: side effects tracking for cancer patients</title>
        <!-- favicon image -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/logo/favicon.ico') }}" alt="oncare favicon">        
        <!-- custom css file link -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    </head>
    <body>
        <div class="background-shapes">
            <div class="frosted-glass">
                <img src="{{ url_for('static', filename='assets/images/shape3.png') }}" class="shape top-right">
                <img src="{{ url_for('static', filename='assets/images/shape4.png') }}" class="shape bottom-left">
                <img src="{{ url_for('static', filename='assets/images/shape.png') }}" class="shape center-1">
                <img src="{{ url_for('static', filename='assets/images/shape2.png') }}" class="shape center-2"> 
            </div>
        </div>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="/" class="nav__logo">Chemo-Tracker</a>
                </div>
                <div>
                    <a href="/" class="nav__logo"><img src="{{ url_for('static', filename='assets/images/logo/Oncare-logo_transparent.png') }}" alt="Oncare logo"></a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <a href="#about" class="nav__link"><button class="button" id="aboutus">About</button></a>
                        <a href="#features" class="nav__link"><button class="button" id="how">How it works</button></a>
                        <a href="#features" class="nav__link"><button class="button" id="why">Why use Chemo Tracker</button></a>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title"><span class="home__title-color">Chemo Tracker</span><br>
                    side-effects tracking<br>
                    <span class="typing-container"></span></h1>
                    {% if session %}
                        <div class="profile-card">
                            <img src="{{ session.userinfo.picture }}" alt="Profile Picture" class="profile-picture">
                            <h1>{{ session.userinfo.name }}</h1>
                            <p>Email: {{ session.userinfo.email }}</p>
                            <a href="/logout"><button class="button" id="btn-logout">Logout</button></a>
                            {% if user_role == "patient" %}
                                <a href="/patient"><button class="button">Patient Dashboard</button></a>
                            {% elif user_role == "doctor" %}
                                <a href="/doctor"><button class="button">Doctor Dashboard</button></a>
                            {% endif %}
                        </div>
                    {% else %}
                        <h1>Welcome Guest</h1>
                        <div class="home__login">
                            <a href="/login?role=patient"><button class="button" id="btn-login">Patient Login</button></a><br><br>
                            <a href="/login?role=doctor"><button class="button" id="btn-login">Doctor Login</button></a>
                        </div>
                    {% endif %}
                </div>


                <div class="home__social">
                    <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <!--<a href="" class="home__social-icon"><i class='bx bxl-devpost' ></i></a>-->
                    <a href="https://github.com/AbisoyeOnanuga/oncare" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

            </section>

            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{{ url_for('static', filename='assets/images/logo/Oncare-logo.png') }}" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">Chemo-Tracker</h2>
                        <p class="about__text">
                            Chemo-Tracker is a product of Oncare, 
                            an easy-to-use solution for primary care.
                        </p>           
                    </div>                                   
                </div>
            </section>

            <!--===== FEATURES =====-->
            <section class="features section" id="features">
                <h2 class="section-title">Features</h2>

                <div class="features__container bd-grid">          
                    <div>
                        <h2 class="features__subtitle">key Features</h2>
                        <p class="features__text">Chemo-Tracker's key features include:
                            <b>Patient notes submission</b>, <b>Doctor responses</b>, and <b>Speech recognition</b> 
                            upcoming features: <b>Calendar-scheduling</b>, <b>Prescription-manager</b>.
                        </p>
                    </div>
                    <div>              
                        <img src="{{ url_for('static', filename='assets/images/Oncare-background.png') }}" alt="" class="features__img">
                    </div>

                </div>
                <div class="features__table bd-grid">
                    <div class="features__row">
                        <div class="features__data">
                            <i class='bx bxs-alarm features__icon'></i>
                            <span class="features__name">Voice-enabled reminders</span>
                        </div>
                        <div class="features__data">
                            <i class='bx bxs-user-voice features__icon'></i>
                            <span class="features__name">Voice-notes</span>
                        </div>
                        <div class="features__data">
                            <i class='bx bx-chat features__icon'></i>
                            <span class="features__name">Doctor's notes</span>
                        </div>
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <!--<section class="contact section" id="contact">
                <h2 class="section-title">Contact us</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="button" value="Send" class="contact__button button">
                    </form>
                </div>
            </section>-->
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Oncare</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://github.com/AbisoyeOnanuga/oncare" class="footer__icon"><i class='bx bxl-github' ></i></a>
            </div>
            <p class="footer__copy">&#169; Copyright 2024</p>
        </footer>
        
        <!--===== AUTH0 CDN =====-->
        <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
        <!--===== AUTH JS =====-->

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>