<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Shared styles and scripts -->
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Care-Tracker: managing side-effects for cancer patients</title>
            <!-- favicon image -->
            <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/logo/favicon.ico') }}" alt="oncare favicon">        
            <!-- custom css file link -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">

            <!-- =====BOX ICONS===== -->
            <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        </head>
    </head>

    <body>
        <div class="background-shapes">
            <div class="frosted-glass">
                <img src="{{ url_for('static', filename='assets/images/shape3.png') }}" class="shape top-right">
                <img src="{{ url_for('static', filename='assets/images/shape4.png') }}" class="shape bottom-left">
                <img src="{{ url_for('static', filename='assets/images/shape.png') }}" class="shape center-1">
                <img src="{{ url_for('static', filename='assets/images/shape2.png') }}" class="shape center-2"> 
            </div>
        </div>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="/" class="nav__logo">Care-Tracker</a>
                </div>
                <div>
                    <a href="/" class="nav__logo"><img src="{{ url_for('static', filename='assets/images/logo/Oncare-logo_transparent.png') }}" alt="Oncare logo"></a>
                </div>


                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <a href="/patient"><button class="button" id="btn-notes">Notes</button></a>
                        <a href="/medication"><button class="button" id="btn-meds">Medication</button></a>
                        <a href="/logout"><button class="button" id="btn-login">Logout</button></a>
                    </ul>
                </div>
                {% if session %}
                    <div class="profile-toggle">
                        <img src="{{ session.userinfo.picture }}" alt="Profile Picture" class="profile-picture" id="profile-image">
                        <!-- Profile card content (hidden by default) -->
                        <div class="profile-card" id="profile-card">
                            <h1>{{ session.userinfo.name }}</h1>
                            <p>Email: {{ session.userinfo.email }}</p>
                            <p>User-Id: {{ session.userinfo.email }}</p>
                            <a href="/logout"><button class="button" id="btn-logout">Logout</button></a>
                        </div>
                    </div>
                {% else %}
                    <!-- Display login buttons -->
                {% endif %}
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== PATIENT CONTENT =====-->
            <div id="patient-content">
                
                <!--===== MEDICATION DATES =====-->
                <div class="medication-dates">

                </div>
                <!--===== MEDICATION UI =====-->
                <!-- Medication Management Section -->
                <div id="medication-management">
                    <h2>Medications</h2>
                    <div id="medication-list">
                        <!-- Medication entries will be dynamically added here -->
                    </div>
                    <button id="add-medication-btn">+</button>
                    <button id="save-medications-btn">Save Medications</button> <!-- Save button -->
                </div>

            </div>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Oncare</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-github' ></i></a>
            </div>
            <p class="footer__copy">&#169; Copyright 2024</p>
        </footer>

        <!--===== AUTH0 CDN =====-->
        <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
        <!--===== AUTH JS =====-->

        <!--===== SCROLL REVEAL =====-->

        <!--===== MAIN JS =====-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/medication.js') }}"></script>
        <script type="text/javascript">
            var userId = "{{ session.userinfo.email }}";
        </script>
        <input type="hidden" id="userId" value="{{ session.userinfo.email }}" />
        <input type="hidden" id="userName" value="{{ session.userinfo.name }}" />
    </body>
</html>
