<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Shared styles and scripts -->
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Chemo-Tracker: side-effects tracking for cancer patients</title>
            <!-- favicon image -->
            <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/logo/favicon.ico') }}" alt="oncare favicon">        
            <!-- custom css file link -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">

            <!-- =====BOX ICONS===== -->
            <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        </head>
    </head>

    <body>
        <div class="background-shapes">
            <div class="frosted-glass">
                <img src="{{ url_for('static', filename='assets/images/shape3.png') }}" class="shape top-right">
                <img src="{{ url_for('static', filename='assets/images/shape4.png') }}" class="shape bottom-left">
                <img src="{{ url_for('static', filename='assets/images/shape.png') }}" class="shape center-1">
                <img src="{{ url_for('static', filename='assets/images/shape2.png') }}" class="shape center-2"> 
            </div>
        </div>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="/" class="nav__logo">Chemo-Tracker</a>
                </div>
                <div>
                    <a href="/" class="nav__logo"><img src="{{ url_for('static', filename='assets/images/logo/Oncare-logo_transparent.png') }}" alt="Oncare logo"></a>
                </div>


                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <a href="/logout"><button class="button" id="btn-login">Logout</button></a>
                        <button class="button" id="btn-tracker">Chemo-Tracker</button>
                        <button class="button" id="btn-meds">Meds</button>
                    </ul>
                </div>
                {% if session %}
                    <div class="profile-toggle">
                        <img src="{{ session.userinfo.picture }}" alt="Profile Picture" class="profile-picture" id="profile-image">
                        <!-- Profile card content (hidden by default) -->
                        <div class="profile-card" id="profile-card">
                            <h1>{{ session.userinfo.name }}</h1>
                            <p>Email: {{ session.userinfo.email }}</p>
                            <p>User-Id: {{ session.userinfo.email }}</p>
                            <a href="/logout"><button class="button" id="btn-logout">Logout</button></a>
                        </div>
                    </div>
                {% else %}
                    <!-- Display login buttons -->
                {% endif %}
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== PATIENT CONTENT =====-->
            <div id="patient-content">
                
                <!--===== NOTES DATES =====-->
                <div class="notes-dates">
                    <button id="add-note-btn" class="button">+</button>
                    <!-- Date filter form -->
                    <div class="date-filter">
                         start: <input type="date" id="start-date-filter" />
                        end: <input type="date" id="end-date-filter" />
                    </div>
                    <button id="filter-notes-btn" class="button" onclick="filterNotes()">Filter</button>
                    <!-- Container for note links -->
                    <div id="notes-links-container"></div>
                </div>
                <!--===== NOTES UI =====-->
                <div class="notes-content">
                    <div class="patient-note">
                        <div class="patient-note-label">Your Note</div>
                        <form id="patient-note-form">
                            <!-- Patient's input fields -->
                            <textarea id="patient-note-input" class="note-input" name="patient-note-input"></textarea>
                            <div class="patient-btn">
                                <!-- Speech recognition button -->
                                <button id="patient-speech-btn" type="button" onclick="startSpeechRecognition('patient-note-input', 'patient-speech-btn')" class="speech-btn">🎤 Speak</button>
                                <!-- This button is used to create a new note entry in the database -->
                                <button id="save-btn" type="click">Save New</button>
                            </div>
                        </form>
                    </div>
                    <div class="doctor-note hidden">
                        <div class="doctor-note-label">Doctor's Note</div>
                        <form id="doctor-note-form">
                            <!-- Doctor's input fields -->
                            <textarea class="doctor-note-input" name="doctor-note-input" disabled="true"></textarea>
                        </form>
                    </div>
                    <div class="edit-note">
                        <div class="patient-note-label">Your Note</div>
                        <!-- Editable note form, initially hidden -->
                        <form id="edit-note-form" style="display:none;">
                            <textarea id="edit-note-input" class="edit-note-input"></textarea>
                            <div class="edit-btn-group">
                                <!-- Speech recognition button -->
                                <button id="edit-speech-btn" type="button" onclick="startSpeechRecognition('edit-note-input', 'edit-speech-btn')" class="speech-btn">🎤 Speak</button>
                                <!-- This button is used to save updates to an existing note -->
                                <button id="update-note-btn" type="button">Update</button>
                                <!-- This button is used to delete an existing note -->
                                <button id="delete-note-btn" type="button">Delete</button>
                                <button class="close-btn">X</button>
                            </div>
                        </form>
                    </div>                      
                </div>

                <div id="toast" style="display:none;"></div>
            </div>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Oncare</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-github' ></i></a>
            </div>
            <p class="footer__copy">&#169; Copyright 2024</p>
        </footer>

        <!--===== AUTH0 CDN =====-->
        <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
        <!--===== AUTH JS =====-->

        <!--===== SCROLL REVEAL =====-->

        <!--===== MAIN JS =====-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notes-update.js') }}"></script>
        <script type="text/javascript">
            var userId = "{{ session.userinfo.email }}";
        </script>
        <input type="hidden" id="userId" value="{{ session.userinfo.email }}" />
        <input type="hidden" id="userName" value="{{ session.userinfo.name }}" />
    </body>
</html>