<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Shared styles and scripts -->
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Chemo-Tracker: side-effects tracking for cancer patients</title>
            <!-- favicon image -->
            <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/logo/favicon.ico') }}" alt="oncare favicon">        
            <!-- custom css file link -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">

            <!-- =====BOX ICONS===== -->
            <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        </head>
    </head>

    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="/patient" class="nav__logo">Chemo-Tracker</a>
                </div>
                <div>
                    <a href="/patient" class="nav__logo"><img src="{{ url_for('static', filename='assets/images/logo/Oncare-logo_transparent.png') }}" alt="Oncare logo"></a>
                </div>


                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <a href="/"><button class="button" id="btn-login">Logout</button></a>
                        <button class="button" id="btn-tracker">Chemo-Tracker</button>
                        <button class="button" id="btn-meds">Meds</button>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== PATIENT CONTENT =====-->
            <div id="patient-content">
                
                <!--===== NOTES DATES =====-->
                <div class="notes-dates">
                    <button id="add-note-btn" class="button">+</button>
                    <!-- Date filter form -->
                    <input type="date" id="date-filter" />
                    <!-- Container for note links -->
                    <div id="notes-links-container"></div>
                </div>
                <!--===== NOTES UI =====-->
                <div class="notes-content">
                    <div class="doctor-note hidden">
                        <div class="doctor-note-label">Doctor's Note</div>
                        <form id="doctor-note-form">
                            <!-- Doctor's input fields -->
                            <textarea class="note-input" name="doctor-note-input"></textarea>
                            <button class="note-button" type="submit" disabled="true">Save</button>
                        </form>
                    </div>
                    <div class="patient-note">
                        <div class="patient-note-label">Your Note</div>
                        <form id="patient-note-form">
                            <!-- Patient's input fields -->
                            <textarea class="note-input" name="patient-note-input"></textarea>
                            <div class="patient-btn">
                                <!-- This button is used to create a new note entry in the database -->
                                <button class="note-btn" type="submit">Save New</button>
                            </div>
                        </form>
                    </div>
                    <div class="edit-note">
                        <div class="patient-note-label">Your Note</div>
                        <!-- Editable note form, initially hidden -->
                        <form id="edit-note-form" style="display:none;">
                            <textarea id="edit-note-input" class="note-input"></textarea>
                            <div class="edit-btn-group">
                                <!-- This button is used to save updates to an existing note -->
                                <button id="update-note-btn" type="button">Update</button>
                                <!-- This button is used to delete an existing note -->
                                <button id="delete-note-btn" type="button">Delete</button>
                                <button class="close-btn">X</button>
                            </div>
                        </form>
                    </div>                      

                </div>
            </div>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Oncare</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-github' ></i></a>
            </div>
            <p class="footer__copy">&#169; Copyright 2024</p>
        </footer>

        <!--===== AUTH0 CDN =====-->
        <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
        <!--===== AUTH JS =====-->

        <!--===== SCROLL REVEAL =====-->

        <!--===== MAIN JS =====-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notes-update.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notes-delete.js') }}"></script>
    </body>
</html>